@charset "utf-8";
*{
margin:0px;
padding:0px;
}
body{
/*font-family:Arial, Helvetica, sans-serif;*/
font-family: 'Arimo', sans-serif;
font-size:12px;
min-width: 1024px;
/*background-color:white;*/
background-color: #dededd;
/*background-color:#999999;*/
/*background-color:#CCCCCC;*/
}

.clearFloat{
	clear: both;
}
.aqua{
	color:#00A99D;
}
.grey{
	color: rgb(131,130,129);
}
.black20{
	color: #cccccc;
}
.green{
	/*color: #006837;*/
	color: rgb(137,195,63);
}
.right{
	float:right;
}
.left{
	float:left;
}
.noborder{
	text-decoration:none;
	border-style: none;
}
a{
	text-decoration:none;
	color:#000000;
}
a img{
	text-decoration:none;
	border-width:0px;
	border-style: none;
}
a.source{
	font-size: 10px;	
}
a:visited{
	color:#333333;
}
a:hover{
	text-decoration: underline;
	color: rgb(137,195,63);
}
div#sn-bar {
	position: relative;
	float: right;
	top: 18px;
	margin-right: 20px;
}
div#sn-bar a.sn-button{
	display:block;
	height: 20px;
	margin-right: 15px;
	float: left;	
}
div#sn-bar a#facebook{
	background: transparent url("/img/btn_facebook.png");
	background-position: top;
	width: 10px;
}
div#sn-bar a#facebook:hover{
	background-position: bottom;
}
div#sn-bar a#twitter{
	background: transparent url("/img/btn_twitter.png");
	background-position: top;
	width: 28px;
}
div#sn-bar a#twitter:hover{
	background-position: bottom;
}
div#sn-bar a:hover{
	background-position: bottom;
}
h3{
	font-family: 'Ubuntu', sans-serif;
	color:#171717;
	font-size:14px;
}

#header {
height: 68px;
width: 100%;
margin-left:auto;
margin-right: auto;
margin-bottom: 20px;
background: transparent url(../img/header_background-03.png) repeat-x;
}
#admin_header {
height: 68px;
width: 100%;
margin-left:auto;
margin-right: auto;
margin-bottom: 1px;
background: transparent url(../img/header_background-03.png) repeat-x;
}
div#header div#cityId, div#admin_header div#cityId{
	float:right;
	margin: 27px 30px 0px 0px;
	color: #89c33f;
}
#header #logo,#admin_header #logo {
position:relative;
float:left;
vertical-align:baseline;
height: 35px;
top:12px;
left: 90px;
clear: all;
}
#topFrame {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	color: #000000;
	text-align:center;
	padding: 3px 0px 1px 0px;
	overflow:hidden;
	clear: all;
}
#topFrame #upperMenu{
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	min-width:800px;
	max-width:900px;
	height: 26px;
}
#topFrame #upperMenu #linkContainer{
	float:left;
	margin:5px 0px 2px 5px;
}

/*FOOTER*/

#footer {
	width: 100%; min-width: 768; height: 120px; margin: 0 auto
}
#footer_1 {
	width: 100%; min-width: 768; height: 19px;  float:left
}
#footer_2 {
	width: 100%; height: 76px;  float:left; background:url(../img/logofooter.jpg) no-repeat #333333; background-position: 0 25px
}
#footer_3{
	width: 100%; height: 19px; float:left; background: #1a1a1a; padding: 5px 0px 0px 0px;
}
#footer_3 div#termsContainer{
	float: right;
	margin-right: 20px;
}
#footer_menu{
	behavior: url(css/PIE.htc);
	width: 85%;
	height: 37px; background: blue; position:relative; 
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius:10px 10px 10px 10px; 
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px; 
	background: url(../img/backmenu.jpg) repeat;
	max-width: 990px;
	min-width: 768px;
}
.menufo{ /*font-family:Arial, Helvetica, sans-serif;*/ color:#FFFFFF; font-size: 13px;}
.menufo a{ color:#FFFFFF; text-decoration:none}
.menufo ul { padding:0px; margin: 9px 0 0 0; text-align: center; line-height: 37px;}
.menufo ul li{ display:inline; list-style: none; margin: 0 20px 0 10px }
.copy{ /*font-family:Arial, Helvetica, sans-serif;*/ color:#FFFFFF; font-size: 11px; text-align:right}
.copy a{ color:#FFFFFF; text-decoration:none}
/********************************************************************************************************/
div.usrInfo{
	position: relative;
	top: -3px;
	float: left;
	max-width: 150px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(127, 127, 127);
	padding: 2px 5px 2px 5px;
	margin-right: 10px;
}
div.usrInfo img{
	display: block;
	float: left;
	margin-right: 5px;
}
span.separator{
font-size:11px;
margin: 0px 5px;
}
#topFrame a{
	text-decoration:none;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:11px;
}
#topFrame a:hover{
	text-decoration: underline;
}
div#bubbleContainer{
	min-width: 555px;
	max-height: 30px;
}
div#searchPopup{
float: right;
	position:relative;
	top: 14px;
/*background-color: #ECFFB8;*/
background-color: rgb(250,250,250,.5);
z-index: 1000;
	margin-right: 7px;
padding: 3px 5px;
/*min-width:300px;*/
max-height: 20px;
	/*display: block;*/
/*border-width: 1px;
border-style: solid;
border-color: #52C93A;
-moz-box-shadow: 0 0 8px 3px #B7EDCE;
-webkit-box-shadow: 0 0 8px 3px #B7EDCE;
box-shadow: 0 0 8px 3px #B7EDCE;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;	
border-radius: 8px;*/
color: white;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 700px;
	line-height: 20px;
}

#searchContainer {
	behavior: url(css/PIE.htc);
	position:relative;
	float: right;
	padding: 3px 5px;
	margin-right: 7px;
	/*background:transparent url(../img/searchbox-02.png);*/
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #89c33f), color-stop(0.67, #8ac33f));
	background-image: -moz-linear-gradient(center bottom, #89c33f 33%, #8ac33f 67% );
	padding: 2px;*/
	-moz-box-shadow: 0 0 3px 1px #afcdab;
	-webkit-box-shadow: 0 0 3px 1px #afcdab;
	box-shadow: 0 0 3px 1px #afcdab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	height: 20px;
	width: 224px;
	top: 14px;
}

#searchContainer .search {
	float: left;
	width: 170px;
	border-style: none;
	height: 18px;
	font-size: 10px;
	vertical-align: middle;
	padding-bottom: 2px;
}
#searchContainer .search:hover{
background-color:rgb(252,252,252);
}
#searchContainer .search:focus{
background-color:#F7FFEE;
}
#header .search .grayButton {
	background-color: #333333;
	border-bottom-color:#333333;
	border-style:solid;
	border-top-style:solid;
}
.submit {
	display: block;
	margin: 0px 0px 0px 2px;
	font-size:10px;
	text-align:center;
	float:left;
	
	width: 50px;
	color:#333333;
	font-weight:bolder;
}

#header #menu {
	position:relative;
	vertical-align:baseline;
	background-color: #dededd;
	height: 30px;
	top: 26px;
	color:#333333;
	clear:both;
	z-index: 3;
}

#container {
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}
#container div#divider{
	clear: both;
	height:0px;
	width: 0px;
}
#wide_container {
	width: 1196px;
	margin-left:auto;
	margin-right:auto;
}
#main{
	border-bottom-color: rgb(137,195,63);
	border-bottom-style: solid;
	border-bottom-width: 6px;
	background-color: rgb(245,245,245);
	padding: 10px;
}
#structured{
	margin-right: 2px;
	background-image: url(../img/herarchical.png);
	background-repeat:no-repeat;
	background-position: 3px 5px;
}
#chronological{
	background-image: url(../img/conological.png);
	background-repeat:no-repeat;
	background-position: 6px 3px;
}
.selected{
background-color:#FFFFFF;
}
.noSelected{
background-color:#CCCCCC;
}
div#container div.htab{
	behavior: url(css/PIE.htc);
	position:relative;
	left: 30px;
	width: 25px;
	height: 17px;
	float:left;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;	
	border-radius: 7px 7px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}
#content{
	behavior: url(css/PIE.htc);
	clear: both;
	background-color: #FFFFFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;	
	border-radius: 7px;
	min-height: 768px;
	/*padding: 0px 10px;*/
	padding: 10px;
}
hr.black20{
	height: 1px;
	border-width:0;color:#cccccc;background-color:#cccccc;
}
#NewscolLeft{
	position:relative;
	float:left;
	clear:left;
	width:800px;
	margin-right: 2%;
}
#NewscolLeft ul{
	list-style-position: inside;
}
#NewscolRight{
margin-top: 15px;
position:relative;
float:right;
width:180px;
/*background-color:#FF0000;*/
min-height: 200px;
}

#colLeft{
position:relative;
float:left;
clear:left;
width:26%;
overflow: hidden;
min-height: 1200px;
max-height: 1910px;
margin-bottom: 10px;
}
#editNewscolLeft{
position:relative;
float:left;
clear:left;
width:67%;
padding-top: 20px;
overflow: hidden;
}	
#tweets{
	float: left;
	position: relative;
	overflow: hidden;
	width:100%;
	/*height: 1048px;*/
	height: 1435px;
	margin-bottom: 10px;
	clear: right;
}
div#tweets.economia{
	height: 1127px;
}
div#tweets div#loading{
	text-align: center;
	color: #171717;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
	
}
div#tweets div#loading p{
	margin-bottom: 10px;
}

#colCenter{
	position:relative;
	/*background-color: #FAFAFA;*/
	background-color: #FFFFFF;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	float:left;
	width: 36%;
	padding: 0px 15px 0px 15px;
	min-height: 1200px;
	max-height: 1910px;
	overflow: hidden;
	border-left-width: 2px;
	border-left-style: dotted;
	border-left-color: #fafafa;
	border-right-width: 2px;
	border-right-style: dotted;
	border-right-color: #fafafa;
}
.colLeftSize{
	width:689px;
}
h2.greyTitle, h1.greyTitle{
	color: rgb(131,130,129);
	font-size: 16px;
	display:block;
	float: left;
}
h1.greyTitle{
	margin: 5px 0px 10px 5px;
	font-size: 17px;
}
img.degradee{
	margin-top: 5px;
	margin-left: 15px;
	width: 67%;
	height: 11px;
	position: relative;
}

#colRight{
	position:relative;
	float:right;
	width:32%;
	/*background-color:#FF0000;*/
	min-height: 768px;
	max-height: 1910px;
	margin-bottom: 10px;
}
.colRightSize{
	width:264px;
}
}
#container #content #colLeft #main {
	min-height:320px;
	background-color:#F7F7F7;
	padding: 10px 7px 0px 7px;
	border-bottom-color:#999999;
	border-bottom-style:solid;
	border-bottom-width: 4px;
}
h4.section {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	font-weight: bolder;
	text-transform:uppercase;
}
h1.title {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 27px;
	font-weight:normal;
	color:#171717;
}
h1 a{
	text-decoration:none;
}
/*h1 a:hover{
	text-decoration:underline;
}*/
#container #content #colLeft #main #photo {
	width: 317px;
	overflow: hidden;
	float:left;
}
#container #content #colLeft #main #description {
	float: right;
	width: 100%;
	font-size:13px;
	text-align:justify;
	color:#171717;

	height: inherit;
}
#container #content #colLeft #main #description.reduced {
	width:340px;
}
#container #content #colLeft #main #data {
	float: left;
	width: 70px;
}
#container #content #colLeft #main #data a{
	text-decoration: none;
	
}

#main #description .mainComments a {
	display:block;
	float:left;
	margin-right: 7px;
	text-decoration: none;
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
}
.mainComments .disabled{
	font-size: 10px;
	font-weight:normal;
	filter:alpha(opacity=30);
	opacity:.3;
}

#container #content #colLeft #main #description img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container #content #colLeft #main #description .mainComments {
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
	line-height: 21px;
	overflow:hidden;
}
#container #content #colLeft #main #description .mainComments .date{
	margin: 0px 12px;
}
#container #content #colLeft #main #description .copete {
	display:block;
	min-height: 193px;
}
#container #content #colLeft #secNews {
	float: left;
	border: 7px solid #F0F0F0;
	margin: 20px 0px 0px 0px;
}
#container #content #colLeft #secNews .secNew {
	width: 317px;
	min-height: 190px;
	max-height: 220px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#container #content #colLeft #secNews img .secNewImg {
	float: left;
	margin-right: 15px;
}

#container #content #colLeft #main #description .mainComments a {
	display:block;
	float:left;
	margin-right: 7px;
	text-decoration: none;
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
}

.comments img.right {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display:block;
	float:right;
	margin-left:2px;
}
.comments {
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
	line-height: 21px;
	overflow:hidden;
	clear: both;
}
.date{
	margin: 0px 22px;
	font-size: 10px;
}
.comments a {
	display:block;
	float:left;
	margin-right: 10px;
	margin-left:0px;
	text-decoration: none;
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
}
#container #content #colLeft #secNews .secNew p {
	display:block;
	float: right;
	height: 130px;
}
#container #content #colLeft #secNews .secNew p.reduced {
width: 210px;
}
.secNew h3{
min-height: 45px;
}
#container #content .longWidget {
	float: left;
	/*height: 302px;*/
	width: 352px;
	margin-bottom: 20px;
	
	overflow:hidden;
}
#container #content .longWidget5 {
	behavior: url(css/PIE.htc);
	float: left;
	max-height: 390px;
	width: 422px;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 20px;
	background-color:#838281;
	/*overflow:hidden;*/

	-moz-box-shadow: 0 0 4px 1px #999999;
	-webkit-box-shadow: 0 0 4px 1px #999999;
	box-shadow: 0 0 4px 1px #999999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;	
	border-radius: 5px;
	/*border-color: #dededd;
	border-style: solid;*/
}
.longWidget5 div.newsCategory{
	color: white;
	font-size:10px;
	clear: both;
	float:right:
	width: 100%;
	height: 10px;
	margin: 2px 0px 3px 0px;
}

#container #content #colLeft #widgetContainer .smallWidget {
	float: left;
	/*height: 302px;*/
	width: 324px;
	margin-bottom: 20px;
	overflow:hidden;
}

#widgetContainer {
	float:left;
	margin-top: 20px;
	width: 100%;
/*	background-color: red;*/
}
.smallWidget .widgetTitle{
	background: transparent url(../img/smallWidgetHeader.png);
	float: left;
	height: 18px;
	width: 294px;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 15px 2px 15px;
	font-weight:bold;
	color:#171717;
	position:relative;
	z-index:2;
	clear:both;
}

.smallLeftWidget .widgetTitle{
	background: transparent url(../img/smallLeftWidgetHeader.png);
	float: left;
	height: 18px;
	width: 234px;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 15px 2px 15px;
	font-weight:bold;
	color:#171717;
	position:relative;
	z-index:2;
	clear:both;
}
.smallLeftWidget .widgetContent {
	background-color: white;
	background-image: url(../img/smallLeftWidgetBorders.png);
	background-repeat: repeat-y;
	background-position: 1px;
	float: left;
	min-height: 0px;
	max-height: 300px;
	width: 244px;
	padding: 5px 10px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.smallLeftWidget .widgetContent li {
	list-style-position: inside;
	font-size: 11px;
}
.smallLeftWidget .widgetLowerBorder {
	background-color: #FFFFFF;
	background-image:url(../img/smallLeftWidgetLowerBorder.png);
	background-repeat:no-repeat;
	background-position: 0px;
	float: left;
	height: 14px;
	width: 264px;
	margin-top: 0px;
}

.longWidget5 .widgetTitle{
	behavior: url(css/PIE.htc);
	background: -webkit-linear-gradient(bottom, #dededd 10%, white);
	background: -moz-linear-gradient(bottom, #dededd 10%, white);
	background: -o-linear-gradient(bottom, #dededd 10%, white);
	background: linear-gradient(bottom, #dededd 10%, white);
	-pie-background: linear-gradient(bottom, #dededd 10%, white);
	float: left;
	height: 20px;
	padding:5px 0px 0px 10px;
	width: 98%;

	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;	
	border-radius: 5px 5px 0px 0px;

	font-weight:bold;
	color:#171717;
	position:relative;
	z-index:2;
	clear:both;
	overflow: hidden;
}
.no-cssgradients .longWidget5 .widgetTitle{
	margin-top: -1px;
	margin-left: -1px;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#dededd");
	background-color: dededd;
}

#container #content .longWidget .widgetContent {
	background-color: white;
	background-image: url(../img/wideWidgetBorders-02.png);
	background-repeat: repeat-y;
	background-position: 1px;
	float: left;
	height: 258px;
	width: 327px;
	padding: 5px 10px 5px 15px;
	position: relative;
	z-index: 1;
}
#widgetContainer .smallWidget .widgetContent {
	background-color: white;
	background-image: url(../img/smallWidgetBorders.png);
	background-repeat: repeat-y;
	background-position: 1px;
	float: left;
	height: 258px;
	width: 304px;
	padding: 5px 10px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
#container #content .longWidget .widgetLowerBorder {
	background-color: #FFFFFF;
	background-image:url(../img/wideWidgetLowerBorder-03.png);
	background-repeat:no-repeat;
	background-position: 0px;
	float: left;
	height: 14px;
	width: 352px;
	margin-top: 0px;
}
#container #content #colLeft #widgetContainer .smallWidget .widgetLowerBorder {
	background-color: #FFFFFF;
	background-image:url(../img/smallWidgetLowerBorder.png);
	background-repeat:no-repeat;
	background-position: 0px;
	float: left;
	height: 14px;
	width: 326px;
	margin-top: 0px;
}

h4.title {
	color:#666666;
	display:block;
	float:left;
	font-weight:bold;
	font-size:13px;
}
#widgetContainer .longWidget .wRow {
	float: left;
	width: 317px;
	overflow: hidden;
}
h3.wTitle {
	font-size: 13px;
}
.wRow p {
	display:block;
	float:left;
	width: 217px;
	margin-left: 5px;
	height: 74px;
	overflow: hidden;
}

img.resize11090{
	width: 110px;
	height : auto;
	float: left;
	display: block;
}

img.resize11090{
	width: auto;
	height : 90px;
}
.wRow img {
	display:block;
	float:left;
}
#container a{
	text-decoration: none;
}
#container a:hover {
	text-decoration: underline;
}
.longWidget .oNews {
	margin-top: 10px;
}
.longWidget .oNews ul {
	margin-left: 15px;
}
.smallWidget .oNews {
	margin-top: 10px;
}
.smallWidget .oNews ul {
	margin-left: 15px;
}
.configBox {
	behavior: url(css/PIE.htc);
	background-color:#F0F0F0;
	border: 1px solid #333333;
	position:relative;
	float: left;
	z-index: 1000;
	left: -5px;
	top:-405px;
	width: 420px;
	min-height: 380px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;	
	border-radius: 3px;
	padding:3px;
}
.configBox a{
	font-weight: bolder;
}
.smallWidget li{
	margin-left: 25px;
}
.longWidget li {
	margin-left: 10px;
}

li.seed {
	list-style-position: outside;

	list-style-image: url(../img/seed.png);
}
li.userNews {
	list-style-position: outside;
	list-style-image: url(../img/ucomment.png);
}
li.rssNews {
	list-style-position: outside;
	list-style-image: url(../img/rss.png);
}
.grayWidgetContent {
	background-color: white;
	color: white;
	font-size:10px;
background-image: url("../img/gray_widget_side_border-02.png");
background-repeat: repeat-y;
background-position: 0px 50%;
float: left;
height: 261px;
width: 332px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
position: relative;
z-index: 1;
}
.longWidget .grayWidgetLowerBorder{
background-color: #ffffff;
/*background-color: red;*/
background-image: url("../img/gray_widget_lower_border-03.png");
background-repeat: no-repeat;
background-position: 0px 50%;
float: left;
height: 14px;
width: 352px;
margin-top: 0px;
}


.longWidget5 .imgListContainer a img#link{
	/*height: 211px;*/
	
	position:relative;
   /*top:50%;*/
   /*left:50%;*/
   margin-top:-55px;
   /*margin-left:-25px;*/
   text-decoration: none;
}
.longWidget5 .imgListContainer {
	display: table-cell;
	text-align:center;
	vertical-align: middle;
	height: 300px;
	display: block;
	width: 390px;
	position: relative;
	z-index: 99;
	overflow:hidden;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 1px;
}

div.busy-indicator{
	position: relative;
	top: -238px;
	z-index: 100;
	background-color: white;
	width: 313px;
	height: 104px;
	opacity:0.95;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 154px 2px 0px 1px;
}

div.pagButtonsContainer{
	position: relative;
	z-index: 101;
	float: left;
	width: 100%;
	top: 35%;
	z-index: 100;
}
div.pagButton{
	height: 48px;
	width: 32px;
	overflow: hidden;
}
img.nxt{
	position:relative;
	left:-32px;
}
.imgTitle{
 font-size:16px;
 height:30px;
 }
 
.longWidget5 .imgTitle{
 font-size:16px;
 height:30px;
 margin: 5px 5px 0px 5px;
 }
.paginate {
	height: 30px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
.paginate .current, .paginate span a{
text-decoration:none;
}
.paginate .pNoSelected:hover{
text-decoration:underline;
}
.paginate .current {
	color: #FFFFFF;
}
.paginate span a {
	color:#333333;
}
.paginate  {
	color:#333333;
	/*margin:0px 3px;*/
}
.imgTitle{
overflow:hidden;
}
.imgTitle h4 {
	font-size: 14px;
	color: #333333;
}
img.secNewImage{
	width: 95px;
	height: auto;
	max-height: 100px;
}
img.secNewImage{
	width: auto;
	height:100px;
	max-width: 95px;
}
img.pplNewsImage{
	width: 317px;
	height: auto;
	max-height: 193px;
}
img.pplNewsImage{
	width: auto;
	height:193px;
	max-width: 317px;
}

.otherNewsContainer {
	position: relative;
	padding: 5px 5%;
	min-height: 242px;
}
div#adsContainer{
	clear:both;
	margin: 10px 0px 10px 0px;
	border-top-style: dotted;
	border-top-width: 1px;
	border-top-color: #DEDEDE;
}
.otherNewsContainer .secNew{
	height:290px;
	width: 210px;
/*	background-color: white;*/
	float:left;
	margin: 5px 5px;
	border-style: dashed;
	border-width: thin;
	border-color: #cfcfcf;
	padding: 10px 10px;
}
.tinyWidgetUpBorder{
	height: 5px;
	width: 232px;
	background: transparent url(../img/tinyWidgetUpperBorder.png) no-repeat;
}
.otherNewsContainer .secNew h3{
min-height: 25px;
}
.otherNewsContainer .secNew hr{
	background-color: #cfcfcf;
	height: 1px;
	border-style:none;
	margin-bottom: 10px;
}
.tinyWidgetContent{
	width: 212px;

	height: 250px;
	font-size: 11px;
}
.tinyWidgetDownBorder{
	height: 5px;
	width: 232px;
	background: transparent url(../img/tinyWidgetLowerBorder.png) no-repeat;
}
.tinyWidgetContent img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.tinyWidgetContent img{
	width: 95px;
	height: auto;
	max-height: 80px;
}
.tinyWidgetContent img{
	width: auto;
	height:80px;
	max-width: 95px;
}

.tinyWidgetContent .date{
padding-top: 5px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-size: 10px;
float:right;
}
.tinyWidgetContent li{
	list-style-position:inside;
	line-height: 19px;
}

.lftWidget .header{
	padding: 10px 2px 0px 7px;
	width: 264px;
	height: 20px;
	background: transparent url(../img/lftWidgetHeader.png) no-repeat;
}
.lftWidget .content{
	background: transparent url(../img/lftWidgetSideBorders.png) repeat-y;
	padding: 0px 10px 10px 10px;
	width: 243px;
	min-height: 212px;
}

/*NOTICIA AMPLIADA*/
div.copete{
	color: #7f7f7f;
	border-bottom-color: #cccccc;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding: 10px 0px 20px 0px;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 30px;
}
div#news{
	font-size: 14px;
}
div#catSelector{
	width: 350px;
	/*height: 200px;*/
	float: right;
	border-color: #89c33f;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	left: 14%;
	clear:none;
	background-color: white;
	z-index: 1030;
	padding: 10px 5px;
}
div#catSelector button, div#catSelector input[type="submit"]{
	float: right;
}
.newsData {
	color:#666666;
	font-weight:bold;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	font-size:10px;
	line-height: 21px;
	overflow:hidden;
	padding-top: 5px;
}
div#mediaSlideshowContainer{
	width: 318px;
	float: left;
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
}
div#mediaSlideshowContainer div.tab{
	behavior: url(css/PIE.htc);
	float: left;
	margin-right: 1px;
	height: 26px;
	width: 60px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;	
	border-radius: 7px 7px 0px 0px;
	background-color: #b2b2b2;
	text-align: center;
	vertical-align: center;
	line-height: 26px;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	/*font-family: Arial;*/
	cursor: pointer;
}
div#mediaSlideshowContainer div.selected{
	background-color: #666666;
}
div#mediaSlideshowContainer div.content{
	background-color: #666666;
	width: 318px;
	height: 191px;
	min-height: 247px;
	max-height: 270px;
	float: left;
}

div#fotos{
	display: block;
}
div#videos{
	display: none;
}
div#audios{
	display: none;
}
.fittedImg{
	width:auto; 
	height:100%;
}
.fittedImg{
	width:100%; 
	height:auto;
}
#timelinemain{
	border-bottom-color: rgb(137,195,63);
	border-bottom-style: solid;
	border-bottom-width: 6px;
	background-color: white;
}
#timelinemain #timelinedescription {
	float: right;
	width:494px;
	font-size:13px;
	text-align:justify;
	color:#171717;
	height: inherit;
}
#timelinemain #timelinedescription .copete {
	display:block;
	min-height: 193px;
}
#timelinemain #timelinedescription img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}
#timelinemain #photo {
	margin-right: 15px;
	width: 180px;
	overflow: hidden;
	float:left;
}
div.tNews{
	height: 115px;
	/*max-height: 125px;*/
	overflow: hidden;
	clear: both;
	margin-top: 20px;
	width: 100%;
}
div.news.collapsed:hover {
	behavior: url(css/PIE.htc);
	border-style: none;
    border-top-style: solid;
	border-bottom-style: solid;
    border-width: 1px;
	/*background-color: #FCFCFC;*/
	border-color: #ffffff;
	-moz-box-shadow: 0 0 4px 1px #eeeeee;
	-webkit-box-shadow: 0 0 4px 1px #eeeeee;
	box-shadow: 0 0 4px 1px #eeeeee;
    position: relative;
    z-index: 1000;
    width: 100%;
    min-height: 110px;
	margin-top: 19px;
	left: 0px;
	margin-bottom: -1px;
}
.news.expanded{
	padding: 5px;
	background-color: rgb(250,250,250);
	position:fixed;
	top: 60px;
	z-index: 1200;
	border-style: solid;
    border-width: 1px;
    border-radius: 7px;
	border-color: rgb(131, 130, 129);
	width: 600px;
	min-height: 300px;
	max-height: 700px;
	left: 320px;
	overflow:scroll;
}

div.twitterNews{
	max-height:115px;
	overflow: hidden;
	clear: both;
	margin-bottom: 17px;
	width: 100%;
	position: relative;
	/*background-color: yellow;*/
}
div.tNews div.icon, div.twitterNews div.icon{
	width: 20%;
	max-height:65px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
	margin-top: 2px;
}
div.tNews .tContent, div.twitterNews .tContent{
	float:left;
	width:75%;
}
.tNews div.photo, .twitterNews div.photo{
	max-width: 50px;
	margin-right: 10px;
	float:left;
}
.tNews div.photo img{
	max-width: 50px;
	max-height: 50px;
}

div.tNews div.summary{
	display: block;
	float: left;
	/*width: 250px;*/
	clear: right;
	min-height: 80px;
	margin-bottom: 15px;
}
div.twitterNews div.summary{
	display: block;
	float: left;
	/*width: 250px;*/
	clear: right;
	min-height: 10px;
	margin-bottom: 15px;
}
div.twitterNews p.summary{
	font-style: italic;
}
.tNews h3, .twitterNews h3{
	margin-bottom: 7px;
}
div.users {
	width:495px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
div.users hr {
	background-color: #cfcfcf;
	height: 1px;
	border-style:none;
	margin-bottom: 10px;
}
div.users label, div.users input[type="text"], div.users textarea, div.users input[type="password"], input#UserAvatar{
	display: block;
	float: left;
	height: 25px;
	margin: 10px 5px 10px 0px;
	line-height: 25px;
}
div.users textarea{
	height: 100px;
}
div.users label{
	display: block;
	clear: left;
	width: 80px;
	padding-top: auto;
	vertical-align: middle;
}
div.users input[type="text"], div.users textarea, div.users input[type="password"], input#UserAvatar{
	background-color: rgb(242,242,242);
	clear: right;
	width: 400px;
}
div.users div.submit{
	float:right;
}
div.users input[type="submit"] {
	background: transparent url(../img/btn_listo-02.png) no-repeat;
	background-position:top left;
	width: 70px;
	height:28px;
	line-height: 22px;
	text-align: center;
	border-style: none;
}
div.users input[type="submit"]:hover {
	background: transparent url(../img/btn_listo-02.png) no-repeat;
	background-position:top right;
}


/*FORM ERRORS*/
div#flashMessage{
	behavior: url(css/PIE.htc);
	border-color: rgb(137,195,63);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;	
	border-radius: 7px 7px 7px 7px;
	background-color: white;
	min-height: 50px;
	width: 485px;
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 30%;
	z-index: 3000;
}
div.error{
	color: red;
	margin-bottom: 10px;
}
div.error-message{
	border-color: red;
	border-style:dashed;
	border-width: 1px;
	color: red;
	clear: both;
}
div.NewsBar{
	margin: 20px 0;
	height: 38px;
	width: 121px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(176,176,176);
	padding: 0px 15px;
	clear:left;
}
div.NewsBar div#ToolBar{
	float: left;
	margin-top: 7px;
}
div.NewsBar div#ToolBar img.link{
	
}
div.NewsBar div#ToolBar img.separator{
	margin: 0px 10px 0px 10px;
	
}
div.NewsBar div#SocialBar{
	float: right;
	margin-top: 7px;
}
/*div.NewsBar div#SocialBar span{
	display: block;
	line-height: 20px;
}*/

/*LOGIN*/
div.greenBox{
	background: url(../img/green_bkg-02.png);
	width: 383px;
	height: 157px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px 20px;
	overflow: hidden;
}
div.greenBox h3{
	color: rgb(77,77,77);
	margin-bottom: 30px;
	text-align: center;
}
div.greenBox form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
div.greenBox label{
	width: 80px;
	display: block;
	float:left;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
}

div.greenBox input[type="submit"] {
	background: transparent url(../img/iniciar.png) no-repeat;
	/*background-position:top left;*/
	width: 70px;
	height:22px;
	line-height: 22px;
	text-align: center;
	border-style: none;
	float:right;
	margin-right: 5px;
	display: block;
}
div.greenBox input[type="submit"]:hover {
	/*background: transparent url(../img/iniciar-08.png) no-repeat;
	background-position:top right;*/
}
p#toregister{
	text-align: right;
	color: white;
	display: block;
	float: right;
}

/**Add news**/
div#news_content{
	/*width: 1196px;*/
	
	/*clear: both;*/
	background-color: #FFFFFF;
	/*-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;	
	border-radius: 7px;*/
	/*min-height: 300px;*/
	padding: 20px 10px;
}
div.steps{
	background-color: #999999;
	height: 52px;
	color: #303030;
	padding-top: 14px;
}
div.steps h3{
	color: #cccccc;
	height: 37px;
	float: left;
	width: 70px;
}
div.completed h3{
	color: #ffffff;
}
div.step{
	float: left;
	margin-left: 50px;
}
div.steps div.step div.indicator{
	float: left;
	width: 36px;
	height: 37px;
	padding-left: 17px;
	line-height: 37px;
	margin-right: 5px;
}
h3#std2, h3#std3{
	line-height: 37px;
}
div.steps div#scontainer{
	height: 37px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
div.completed div.indicator{
	background: transparent url('../img/indicator-02.png');
}

div#news_content #colLeft{
position:relative;
float:left;
clear:left;
width:30%;
padding-top: 20px;
overflow: hidden;
min-height: 1200px;
max-height: 1505px;
}

div.newsItem{
	margin-bottom: 10px;
	clear: all;
}
div.helpMessage{
	/*position: fixed;
	top: 57%;
	width: 260px;*/
	background-color: #FFFFA6;
	border-color: #F6E821;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	color: #999999;
}

form#addNews div.submit{
	margin-top: 35px;
	background: transparent url(../img/next-03.png);
	width: 119px;
	height: 37px;
	position: relative;
	float: right;
}
form#addNews div.submit input[type="submit"]{
	width: 119px;
	height: 37px;
	background: none;
	border: none;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	line-height: 37px;
}
.prevBtn {
	display: block;
	width: 119px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	border: none;
	font-weight: bold;
	color: #ffffff;
	clear: right;

	margin-top: 35px;
	background: transparent url(../img/prev.png);
	position: relative;
	float: left;
}
.nextBtn {
	display: block;
	width: 119px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	border: none;
	font-weight: bold;
	color: #ffffff;
	clear: right;

	margin-top: 35px;
	background: transparent url(../img/next-03.png);
	position: relative;
	float: right;
}

a.nextBtn:hover, a.prevBtn:hover {
	color: #ffffff;
	text-decoration: none;
}
a.nextBtn:visited, a.prevBtn:visited {
	color: #ffffff;
	text-decoration: none;
}

div.optionBox{
	min-height: 21px;
	border-color: rgb(196,196,196);
	border-style: dashed;
	border-width: thin;
	padding: 10px 10px;
	margin-top: 30px;
}
div.optionBox#tags{
	min-height: 60px;
}

div.lightGreenBkg{
	background-color: rgb(226,246,230);
}

div.optionBox input[type="text"]{
	width: 500px;
}
input[type="text"].writeSc, textarea.writeSc{
	width: 689px;
	font-family: 'Arimo', sans-serif; 
}
div.optionBox select {
	display: block;
}
div.optionBox label{
	display: block;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 5px;
	margin-right: 10px;
	float: left;
}
.lSelector {
	width: 150px;
}
div#tagsSet {
	margin-top: 5px;
}
div#tagsSet div{
	float:left;
	background: #f0f0f0;
	margin-right: 7px;
}
span.close{
	cursor: pointer;
}
div#form{
	margin-top: 20px;
	margin-bottom: 30px;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: green;*/
	float: left;
}
div#form div.input{
	float: left;
	height: 25px;
	overflow: hidden;
	padding-top: auto;
	padding-top: auto;
}
div#form div.input label{
	font-weight:bolder;
	padding: 5px;
}
div#form form input[type="text"]{
	height: 23px;
}
	
div#form div.submit{
	float: left;
	height: 25px;
	overflow: hidden;
}
div#results{
	width: 92%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border-top-style: dotted;
	border-top-width: 1px;
	padding-top: 5px;
}
div#results div.searchResult{
	width: 100%;
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	float: left;
	clear: both;
}
div#results div.searchResult div.data{
	width: 90%;
	float: left;
	clear: both;
}
h3#searchResult{
	display: block;
	float: left;
	margin-top: 15px;
	width: 100%;
}

/*que es posteamos*/
h1.qpgreyTitle{
	color: rgb(131,130,129);
	font-size: 16px;
	padding: 30px 0px 10px 0px;
}

div#marqueeContainer{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fafafa));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ffffff, #fafafa);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ffffff, #fafafa);
	/* IE 10 */
	background: -ms-linear-gradient(top, #ffffff, #fafafa);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ffffff, #fafafa);
	background: linear-gradient(top, #ffffff, #fafafa);
	-pie-background: linear-gradient(top, #ffffff, #fafafa);
	behavior: url(css/PIE.htc);

	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	border-style: dotted;
	border-width: 1px;
	border-color: #fafafa;
	margin-left: 0px;
	margin-top: 7px;
	margin-bottom: 7px;
}
div#marquee{
	margin: 4px 6px;
	height: 20px;
	line-height: 20px;
	position: relative;
	font-size: 14px;
	color: #838281;
}
div#marquee a{
	color: #666666;
}

span#prev, span#next{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	color: #dddddd;
	height: 20px;
	width: 20px;
	line-height: 20px;
	display: block;
	float: left;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
	margin-left: 5px;
	margin-top: 4px;
	cursor: pointer;
}
span#next{
	clear: right;
	margin-right: 7px;
}
div#anuncio{
	float: right;
	font-size: 8px;
	color: rgb(180,180,180);
}
div#colCenter div.adContainer{
	background-color: white;
	/*background-color: rgb(250,250,250);*/
}
div#colRight div.adContainer{
	/*background-color: #fafafa;*/
	/*background-color: rgb(250,250,250);*/
	background-color: white;
}
div#imgListContainer{
	height: 247px;
	width:99%;
	position: relative;
	vertical-align: middle;
	/*display: table-cell;*/
}
div#submenu-bar{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
/**Loggedin user**/
div#user{
	padding: 3px 10px 3px 1px;
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	height: 22px;
}
div#user:HOVER{
	background-color: #EEEEEE;
}
div#user span#u-avatar{
	height: 22px;
}
div#user span#u-avatar img{
	max-height: 22px;
	max-width: 32px;
	margin-right: 3px;
}
div#user span#u-data{
	position: relative;
	top: -6px;
	font-weight: bold;
	font-size: 10px;
}
div#NewscolLeft div#comments{
	clear: both;
}